# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Artifacts
/build

# Test artifacts
/test/out

# Deps install
vcpkg_installed

# IDE settings (wwwwwwwwwwwwwwwwwww lol)
.vs
.vscode